@for (example of examples; let exampleIndex = $index; track exampleIndex) {
<section>
  <h1 [innerText]="example.title"></h1>

  <div class="grid">
    @for (item of items; let i = $index; track i) {
    <img
      [ngxScrollAnimate]="
        example.animationType ? example.animationType[i] : 'fade-in-up'
      "
      [duration]="
        example.differentDuration ? example.duration! * (i + 1) : example.duration
      "
      [delay]="example.delay ?? ''"
      [aos]="example.threshold"
      [thresholdMode]="example.thresholdMode"
      [timingFunction]="example.timingFunction ? example.timingFunction[i] : 'ease'"
      [disabled]="example.disabled"
      [once]="example.once ?? true"
      [triggerBuffer]="example.triggerBuffer"
      src="https://picsum.photos/id/{{
        150 + (i + 1) * (exampleIndex + 1)
      }}/300"
      alt="demo-image"
    />
    }
  </div>
</section>
}

<!-- <section
  style="
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div
    style="
      position: relative;
      background-color: red;
      padding: 1px;
      width: 300px;
      height: 300px;
    "
  >
    <img
      ngxScrollAnimate="fade-in-up"
      aos="150"
      triggerBuffer="50"
      thresholdMode="pixel"
      once="false"
      src="https://picsum.photos/id/135/300"
      alt="demo-image"
    />
    <div
      style="
        height: 2px;
        width: 100%;
        background-color: orange;
        position: absolute;
        top: 149px;
      "
    ></div>
    <div
      style="
        height: 2px;
        width: 100%;
        background-color: blueviolet;
        position: absolute;
        top: 99px;
      "
    ></div>
  </div>
</section>
 -->
