@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
